{% extends "base.html" %}

{% block app_content %}
    <h1>{{ title }}</h1>
    {% for brand in brands %}
        <p>
            <i>Brand ID:</i> {{ brand.id }}<br>
            <i>Name:</i> {{ brand.name }}<br>
            <i>Code:</i> {{ brand.code }}<br>
            {% if brand.audits %}
                <i>Audits:</i>
                <ul>
                    {% for audit in brand.audits %}
                        <li><a href={{ url_for('audit_report', audit_id=audit.id) }}>{{ audit.id }}, {{ audit.created_on }}, {{ audit.auditor.username }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <i>Configuration:</i><a href={{ url_for('static',filename=('json/brands/'+brand.code+'.json')) }}>link (JSON)</a><br>
        </p>
    <hr width=25%>
    {% endfor %}
{% endblock %}
