{% extends "base.html" %}

{% block content %}

<b>ID: </b>{{ audit.id }}<br>
<b>Auditor: </b>{{ audit.auditor.username }}<br>
<b>Auditor Email: </b>{{ audit.auditor.email }}<br>
<b>Brand: </b>{{ audit.brand.name}}<br>
<b>Timestamp: </b>{{ audit.timestamp_created }}<br><br>

{% if audit.orders %}<h2>Orders:</h2>
    {% if prev_url %}<a href={{ prev_url }}>Previous</a> | {% endif %}{% if next_url %}<a href={{ next_url }}>Next</a>{% endif %}
    {% for o in order %}
        <h3>{{ o.suo }}, {{ o.ow_customer }}</h3>
        <ul>
        {% for item in o.items %}
            <li>{{ item.description }}: {{ item.amount }}</li>
        {% endfor %}
        </ul>
        <br>
    {% endfor %}
{% else %}
    <i>No data imported for this audit</i>
{% endif %}

{% endblock %}