{%- extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}{{ title }} - Audits{% else %}Audits{% endif %}
{% endblock %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/fixes.html" as fixes %}

{% block head %}
    {{super()}}
    {{fixes.ie8()}}
{%- endblock %}

{% block styles -%}
    {{super()}}  {# do not forget to call super or Bootstrap's own stylesheets
                    will disappear! #}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='sample-app.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">SuperAudit</a>
            </div>
            
            <!-- Collapsible Content -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- Links -->
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Audits</a>
                        <ul class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item nav-link" href="{{ url_for('new_audit') }}">Start New Audit</a></li>
                          <li><a class="dropdown-item nav-link" href="{{ url_for('audit_list') }}">List Audits</a></li>
                          <li><a class="dropdown-item nav-link" href="{{ url_for('import_data',audit_id=-1) }}">Import Audit Data</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Brands</a>
                        <ul class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item nav-link" href="{{ url_for('new_brand') }}">Add New Brand</a></li>
                          <li><a class="dropdown-item nav-link" href="{{ url_for('brand_report') }}">List Brands</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">Users</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <li><a class="dropdown-item nav-link" href="{{ url_for('register') }}">Add New User</a></li>
                          <li><a class="dropdown-item nav-link" href="{{ url_for('list_of_users') }}">List Users</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Right-side (login/logout) -->
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('site_map') }}">{{- current_user.username }}</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>    
{% endblock %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
      {%- if messages %}
        <div class="row">
          <div class="col-md-12">
            {{utils.flashed_messages(messages)}}
          </div>
        </div>
      {%- endif %}
  {%- endwith %}
  {% block app_content %}{% endblock %}
{%- endblock %}