{% extends "base.html" %}

{% block content %}
    <h1>Upload Data</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.audit_id.label }}<br>
            {{ form.audit_id }}<br>
            {% for error in form.audit_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.file.label }}<br>
            {{ form.file }}<br>
            {% for error in form.file.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}